@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FoodOnFinger</h1>
    <p class="lead">You Can choose your food from your favourite Cuisine according to your taste.</p> 
    <!-- added description of my application-->
    <img src="~/Content/image.jpg" class="img-responsive img-rounded" style="width:1024px" /> <!-- Image added-->


</div>